.progress_container {
   position: absolute;
   inset: -1px;
   border-radius: inherit;
   border: 1px solid #171717;
   background: conic-gradient(
      from 0deg at 50% 50%, 
      transparent 0%, 
      transparent var(--progress, 0%), 
      var(--progress-color, #ffffff) var(--progress, 0%), 
      var(--progress-color, #ffffff) 100%
   );
   -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
   mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor;
   mask-composite: exclude;
   padding: 6px;

   &.warning {
      --progress-color: #ff0000;
      animation: blink 1s infinite;
   }
}

@keyframes blink {
   0%, 100% {
      opacity: 1;
   }
   50% {
      opacity: 0.5;
   }
} 