.avatar_container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 50;
    cursor: pointer;
    box-shadow: 0 0 0 3px rgb(0 10 31), 0 4px 10px rgb(9 9 9);
    background: linear-gradient(145deg, #052aaa, #9fe5f7);
    
    &:hover {
        transform: translateX(-50%) translateY(50%) scale(1.1);
    }
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    // Адаптивный дизайн
    @media (max-width: 768px) {
        width: 42px;
        height: 42px;
        
        &::after {
            width: 10px;
            height: 10px;
        }
    }
    
    @media (max-width: 480px) {
        width: 36px;
        height: 36px;
        bottom: 15px;
        
        &::after {
            width: 9px;
            height: 9px;
        }
    }
} 

// Стили для таймера-оверлея
.timer_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progress, 100%);
    height: 100%;
    background: rgba(8, 172, 95, 0.7);
    pointer-events: none;
    z-index: 2;
    animation: pulse-overlay 1s infinite;
    transition: width 0.2s linear;
    
    &.warning {
        background: rgba(255, 50, 50, 0.7);
        animation: pulse-overlay 1s infinite;
    }
}

@keyframes pulse-overlay {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
} 