.cards_wrapper {
   position: relative;
   z-index: 20;
   left: 0;
   width: 100%;
   bottom: -10px;
}

.root {
   width: 100%;
   max-width: 600px;
   margin: 0 auto;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(auto-fit, minmax(0, 0.2fr));
   grid-auto-flow: dense;
   padding: 0 60px;

   >* {
      position: relative;
      grid-row-start: 1;
      justify-self: center;
      transform-origin: bottom center;
      transition: transform 0.2s;
      
      /* Базовый стиль для всех устройств - плавное возвращение карты */
      &:not(:active) {
         transition: transform 0.1s ease-out !important;
      }
   }
}
