.table_container {
   --max-width: 800px;
   --scale-desktop: 0.9;
   --scale-tablet: 0.8;
   --scale-mobile: 0.65;
   --scale-low-height: 0.49;
   --slot-border-radius: 10px;
   --slot-border-width: 3px;
   --slot-border-active: 2px dashed #2AABEE;
   
   margin-top: 1lvh;
   width: 95lvw;
   max-width: var(--max-width);
   flex-grow: 1;
   height: 50lvh;
   perspective: 1000px;

   .table {
      position: relative;
      margin: 0 auto;
      scale: var(--scale-desktop);
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(3, 0fr);
      gap: 22px;
      max-width: var(--max-width);
      width: 100%;
      height: 100%;
      align-content: center;
      justify-content: center;
      transform: rotateX(20deg);
      transform-style: preserve-3d;

      @media (max-width: 500px) {
         scale: var(--scale-tablet);
      }

      @media (max-width: 350px) {
         scale: var(--scale-mobile);
      }

      @media (max-height: 400px) {
         scale: var(--scale-low-height);
      }

      .slot {
         position: relative;
         display: flex;
         justify-content: center;
         border: var(--slot-border-width) solid transparent;
         border-radius: var(--slot-border-radius);
         align-items: center;
         transform-style: preserve-3d;

         &.drop {
            border: var(--slot-border-active);
            border-width: var(--slot-border-width);
            border-radius: var(--slot-border-radius);
         }

         > * {
            &:not(:first-child) {
               position: absolute;
               top: 0;
               left: 10%;
               rotate: 5deg;
               transform: translateZ(10px);
            }
         }
      }
   }
}