.table_container {
   margin-top: 1lvh;
   width: 95lvw;
   max-width: 800px;
   flex-grow: 1;
   height: 50lvh;
   perspective: 1000px;

   .table {
      position: relative;
      margin: 0 auto;
      scale: 0.9;
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(3, 0fr);
      gap: 12px;
      max-width: 800px;
      width: 100%;
      height: 100%;
      align-content: center;
      justify-content: center;
      transform: rotateX(20deg);
      transform-style: preserve-3d;

      @media(max-width:500px) {
         scale: 0.8;
      }

      @media(max-width:350px) {
         scale: 0.65;
      }

      @media(max-height:400px) {
         scale: 0.49;
      }

      .slot {
         position: relative;
         display: flex;
         justify-content: center;
         border: 2px solid transparent;
         border-width: 3px;
         border-radius: 10px;
         align-items: center;
         transform-style: preserve-3d;

         &.drop {
            border: 2px dashed #2AABEE;
            border-width: 3px;
            border-radius: 10px;
         }

         >* {
            &:not(:first-child) {
               position: absolute;
               top: 0;
               left: 10%;
               rotate: 5deg;
               transform: translateZ(10px);
            }
         }
      }
   }
}