.navbar {
   display: none;
   position: relative;
   width: fit-content;
   height: 48px;
   justify-content: center;
   flex-direction: row;
   align-items: center;
   padding: 25px;
   gap: 12px;
   overflow: hidden;
   z-index: 20;
   bottom: 1%;
   border-radius: 12px;
   position: fixed;
   background-color: #000000c7;
   left: 50%;
   transform: translateX(-50%);
   box-shadow: -2px 0px 17px 7px rgba(0, 0, 0, 0.3);
}