.card {
   --card-width: 122px;
   --card-font-size: 20px;
   --suit-small-size: 0.9rem; 
   --suit-regular-size: 1.52rem;
   --suit-corner-size: 1.7rem;
   --card-border-radius: 10px;
   --card-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.15);
   
   width: var(--card-width);
   height: 100%;
   aspect-ratio: 0.7166676282;
   touch-action: none;
   user-select: none;
   display: flex;
   background-color: white;
   color: black;
   font-weight: bold;
   justify-content: space-evenly;
   border: 0.2px solid #e1e1e1;
   border-bottom-width: 3px;
   border-radius: var(--card-border-radius);
   box-shadow: var(--card-shadow);
   transform-style: preserve-3d;
   transition: transform 1s ease-out;
   transform: translateZ(5px);
 
   &.red {
     color: red;
   }
 
   .suit_regular,
   .suit_small {
     font-family: "Noto Sans SC", serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
   }
 
   .reversed {
     rotate: 180deg;
   }
 
   // Top-left corner
   .card_top_left {
     margin-top: 5px;
     text-align: center;
   }
 
   .rank {
     font-family: Arial, sans-serif;
     font-size: var(--card-font-size);
   }
 
   .suit_small {
     font-size: var(--suit-small-size);
     margin-top: -9px;
   }
 
   // Bottom-right corner
   .card_bottom_right {
     margin-bottom: 5px;
     text-align: center;
     rotate: 180deg;
   }
 
   .high_cards_container {
     width: 70%;
     height: 80%;
     margin: auto 0;
 
     .suit_regular_left_top,
     .suit_regular_right_bottom {
       position: absolute;
       border: none;
       outline: none;
       font-size: var(--suit-corner-size);
       font-family: "Noto Sans SC", serif;
       font-optical-sizing: auto;
       font-weight: 400;
       font-style: normal;
     }
 
     .suit_regular_left_top {
       top: -3px;
       left: 2px;
     }
 
     .suit_regular_right_bottom {
       bottom: -3px;
       right: 2px;
     }
 
     div {
       background-size: cover;
       background-repeat: no-repeat;
       border: 1px solid black;
       background-position: center;
       height: 100%;
       width: 100%;
     }
   }
 
   // Middle suits container
   .card_suits_container {
     position: relative;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
 
     .card_suits {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       height: 100%;
       align-items: center;
 
       .suit_regular {
         font-size: var(--suit-regular-size);
         line-height: 1;
 
         &.mt_42 {
           margin-top: -42px !important;
         }
 
         &:first-child {
           margin-top: 15px;
         }
 
         &:last-child {
           margin-bottom: 15px;
         }
 
         &.hidden {
           visibility: hidden;
         }
       }
     }
   }
}