.field {
   flex: 1 1 auto;
   position: relative;
   padding: 0 15px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
   background: #10412f;
   box-shadow: inset 6px 12px 112px 6px rgba(0, 0, 0, 0.3);
}

.players {
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 10px;
   min-height: 84px;
   height: auto;
   padding: 12px 0;
}
