.field {
   flex: 1 1 auto;
   position: relative;

   padding: 0 15px;

   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;

   background: url("src/assets/cards/background.png");
   background-size: 10px;
   background-repeat: repeat;
}

.players {
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 10px;
   min-height: 84px;
   height: 15lvh;
   padding: 12px 0;
}
