.field {
   flex: 1 1 auto;
   position: relative;
   padding: 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   background: #102f41;
   box-shadow: inset 6px 12px 112px 6px rgba(0, 0, 0, 0.3);
   padding-top: 10px;
   padding-bottom: 10px;
   z-index: 10;
}

.player_area {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   margin-bottom: 5px;
   position: relative;
}

.players {
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 10px;
   height: fit-content;

   @media(max-width:500px) {
      scale: 0.7;
   }

   @media(max-height:400px) {
      scale: 0.7;
   }
}

@keyframes timerProgress {
   0% {
      width: 100%;
   }
   100% {
      width: 0%;
   }
}
